@font-face {
    font-family: "Charis";
    font-style: normal;
    font-weight: normal;
    src: url(CharisSILR.ttf)
}

@font-face {
    font-family: "Charis";
    font-style: normal;
    font-weight: bold;
    src: url(CharisSILB.ttf)
}

@font-face {
    font-family: "Charis";
    font-style: italic;
    font-weight: normal;
    src: url(CharisSILI.ttf)
}

@font-face {
    font-family: "Charis";
    font-style: italic;
    font-weight: bold;
    src: url(CharisSILBI.ttf)
}

body {
    margin-right: 8pt;
    font-family: Charis;
}

p.p {
        margin: 0px;
        text-indent: 1.5em;
        text-align: justify;
}
